
header{
    margin-left: 144px;
    margin-top: 57px;
}

.contact{
    color: #5863E3;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.div1{
    width: 371px;
    height: 112px;
}

.contact1{
    color: #000;
    font-family: Helvetica;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




















